body {
    background-image: url("./images/BackGround.jpg");
}

header {
    width: 100%;
    padding: 2px 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    outline: auto;
    outline-style: groove;
    outline-width: 8px;
    outline-color: aqua;
}
header .headline{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.board {
    align-content: center;
    margin: 10px;
}

.panel {
    background-color: white;
    outline: auto;
    outline-style: groove;
    outline-width: 10px;
    outline-color: greenyellow;
    padding: 10px;
    margin: 30px;
    width: 500px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.circle {
    width: 20px;
    height: 20px;
    position: relative;
    left: 270px;
    border-radius: 50%;
    background: skyblue;
}

.line-right {
    width: 285px;
    position: relative;
    left: 280px;
    top: 8px;
    border-bottom: 3px solid black;
    transform: rotate(12deg);
    transform-origin: 0%;
}

.line-left {
    width: 265px;
    position: relative;
    left: 280px;
    top: 5px;
    border-bottom: 3px solid black;
    transform: rotate(167deg);
    transform-origin: 0%;
}

.category-name {
    font-size: 36;
    color: black;
    text-align: center;
    margin-top: 5px;
}

.site-button {
    width: 100px;
}

.images a img {
    width: 80px;
    height: 80px;
    margin: 10px;
    object-fit: scale-down;
}

.images a {
    text-decoration: none;
}

.images a img:hover {
    transform: scale(1.1, 1.1);
}